@media (min-width: 1024px) {
    .sidebar {
        --fs-5: 0.941rem;

        position: -webkit-sticky;

        position: sticky;
        top: 30px;
        left: 0;
        padding: 0;
        min-width: -webkit-calc(25% - 15px);
        min-width: calc(25% - 15px);
        margin-bottom: 30px;
        display: none;
        overflow-y: auto;
        -ms-scroll-chaining: chained;
        overscroll-behavior: auto;
        z-index: 0;
    }
}